<div class="toast-container">
  <div 
    *ngFor="let toast of toasts$ | async" 
    class="toast toast-{{toast.type}}"
    [class.toast-show]="true">
    <div class="toast-content">
      <div class="toast-icon">
        <i class="fas fa-check-circle" *ngIf="toast.type === 'success'"></i>
        <i class="fas fa-exclamation-circle" *ngIf="toast.type === 'error'"></i>
        <i class="fas fa-exclamation-triangle" *ngIf="toast.type === 'warning'"></i>
        <i class="fas fa-info-circle" *ngIf="toast.type === 'info'"></i>
      </div>
      <div class="toast-message">{{ toast.message }}</div>
      <button class="toast-close" (click)="removeToast(toast.id)">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
</div>