<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <h1>Welcome to our E-Commerce Store</h1>
      <p class="lead">Discover amazing products at great prices.</p>
      <div class="d-grid gap-2 d-md-flex">
        <a routerLink="/login" class="btn btn-primary btn-lg me-md-2">Login</a>
        <a routerLink="/register" class="btn btn-outline-secondary btn-lg">Register</a>
      </div>
    </div>
    <div class="col-md-6">
      <img src="assets/images/landing.jpg" alt="E-Commerce" class="img-fluid rounded">
    </div>
  </div>
</div>
