<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img [src]="isDarkMode ? logoDarkPath : logoLightPath" alt="Logo" style="height: 40px;">
      <span class="brand-text">Pear</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarContent">
      <ul class="navbar-nav nav-links">
        <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a></li>
        <li class="nav-item position-relative">
          <a routerLink="/cart" class="nav-link cart-link">
            Carrello
            <span *ngIf="cartCount > 0" class="badge-counter">{{ cartCount }}</span>
          </a>
        </li>
        <li class="nav-item"><a routerLink="/orders" routerLinkActive="active" class="nav-link" *ngIf="authService.isLoggedIn()">I Miei Ordini</a></li>
      </ul>

      <ul class="navbar-nav user-actions">
        <!-- Se utente loggato -->
        <li class="nav-item greeting" *ngIf="authService.isLoggedIn(); else guestTemplate">
          Ciao, {{ authService.getUser()?.name }}
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <button class="btn btn-outline-primary btn-sm logout-btn" (click)="logout()">Esci</button>
        </li>
        <!-- Pulsante toggle modalità -->
        <li class="nav-item">
          <button (click)="toggleTheme()" class="btn btn-outline-primary ms-3">
            {{ isDarkMode ? 'Light Mode' : 'Dark Mode' }}
          </button>
        </li>

        <!-- Se ospite -->
        <ng-template #guestTemplate>
          <li class="nav-item">
            <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" routerLinkActive="active" class="nav-link">Registrati</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
